/* Write your CSS here */
.bg-conatainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container-dark {
  height: 40vh;
  width: 30vw;
  border: 1px solid #000000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.card-container-light {
  height: 40vh;
  width: 30vw;
  border: 1px solid #000000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.heading-dark {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
}
.heading-light {
  color: #000000;
  font-family: 'Roboto';
  font-weight: 400;
}
.button-dark {
  height: 30px;
  width: 90px;
  border-radius: 5px;
  border-width: 0px;
}
.button-light {
  height: 30px;
  width: 90px;
  border-radius: 5px;
  border: 1px solid #000000;
}
